<header class="c-page__header">
  <h1><code>{{ site.title}}</code></h1>
  {% if page.title == 'home' %}
  <h1>{{ site.description }}</h1>
  {% endif %}
  <p>
    <a href="{{ "/" | prepend: site.baseurl }}">home</a>
	<span class="u-separate"></span>
    <a href="{{ "/viz" | prepend:site.baseurl }}">viz</a>
	<span class="u-separate"></span>
    <a href="{{ "/art" | prepend:site.baseurl }}">art</a>
	<span class="u-separate"></span>
    <a href="{{ "/keywords" | prepend:site.baseurl }}">keywords</a>
	<span class="u-separate"></span>
	<a href="{{ "/artists" | prepend: site.baseurl }}">artists</a>
	<span class="u-separate"></span>
	<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </p>
</header>
